<!--acerca de mi-->
<section id="persona" class="">
    <div class="container text-center center pt-5">
      <div class="row" *ngFor="let item of persona">
      <div class="col-3"  >
      <img [src]="item.foto_perfil" class="rounded-circle w-100" alt="..." title="...">
      <h2 class="fw-normal"><span class="text-secondary">{{item.nombre}} {{item.apellido}}</span></h2>
      <h4 class="fw-normal"><span class="text-secondary">{{item.frase}}</span></h4>
       </div>
        <div class="col-9 mt-4">
          <h2><span class="text-secondary"> Acerca de Mi </span></h2>
          <br>
          <h5><span class="text-secondary lh-lg">{{item.acerca}}</span></h5>
        </div>
      </div>
    </div>
     </section>

