/*.banner{
   
   background-image :[ngClass]="item.url_banner";
 
       margin-top: 7.5rem;
     
       background-size: 100%;
       background-repeat: no-repeat;
       min-height: 100vh;
       background-size: cover;
    }*/
    
    
 
 img.rounded-circle {
   box-shadow: 8px 8px 8px 8px rgba(34, 29, 25, 0.308);
    margin-top: 0rem;
    margin-left: 2rem;
    }