<header>   
    <!--barra de navegacion-->
   <nav class="navbar navbar-expand-lg fixed-top">
     <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
        <img src="../../assets/img/APLogo-20-20.png" alt="" width="20%" height="">
        </a>
        <ul class="list-group list-group-horizontal">
           <!--Button que envia al login modal-->
           <li class="list-group-item">
             <a routerLink="/login"><i class="fa-solid fa-user fa-2xl"></i></a>
           </li>
        </ul>
     </div>
   </nav>
   </header>
   <!--footer-->
   <footer class="container-fluid d-flex justify-content-center pt-5 bg-dark">
      <h6 class="fw-normal align-text-bottom"><span class="text-secondary text-center mb-2 p-2 fs-5">  © Copyright Cintia L. Necol 2022 | All rights reversed </span></h6>
      </footer>