<!--proyectos-->
<section id="proyectos" class="proyectos mt5">
    <div class="container-fluid mt-5">
       <h2 class="text-center"> PROYECTOS </h2>
       <div class="row align-items-start" *ngFor="let proyecto of proyecto">
          <div class="card g-col-4 p-5 m-4   border-start-3 rounded-start" style="width: 25rem;" >
             <img [src]="proyecto.img" class="rounded float-start" width="90%" alt="...">
             <div class="card-body" >
                <div class="col">
                <p class="card-text ">{{proyecto.trabajo}}</p>
             </div>
           </div>
          </div>
          </div>
              </div>
             </section>
                 <br>
