<!--inicio de referencias Modal -->
<div class="modal fade" id="referenciasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Referencias</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="referenciaForm">
          <!--colocar textos,imput,botones,formularios para este espacio-->
          <div class="my-3 row">
            <label for="text" class="col-sm-2 col-form-label">Referencia</label>
               <div class="col-sm-10">
                <select class="form-select" id="experienciaModal">
                  <option selected>Seleccionar Referencia</option>
                   <option value="1">ID1</option>
                   <option value="1">ID2</option>
                   <option value="1">ID3</option>
                 </select>
                 <br>
               </div>
                 <label for="form-File-sm" class="form-label mt-3"> Agregar/Modificar Archivo</label>
                 <div class="col-sm-10">
                    <input class="form-control form-control-sm" id="formFile-sm" type="file">
                 </div>
               </div>
               <button type="button" class="btn btn-outline-success">Guardar</button>
               <button type="button" class="btn btn-outline-danger">Eliminar</button>
               <button type="button" class="btn btn-outline-warning">Actualizar</button>
             <div class="mb-3 row">
                 <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                 <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                 </div>
              </div>
                 <button type="button" class="btn btn-outline-success">Guardar</button>
               <button type="button" class="btn btn-outline-danger">Eliminar</button>
               <button type="button" class="btn btn-outline-warning">Actualizar</button>
               </form>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
               </div>
             </div>
           </div>
           </div>
    <!--fin de referencias modal-->
