<ul class="list-group  list-group-horizontal" >
    <li class="list-group-item"><a href="https://instagram.com/cintia_lorena22/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
          <li class="list-group-item"><a href="https://linkedin.com/in/cintia-necol-715766242/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
          <li class="list-group-item"><a href="https://facebook.com/cintia.necol/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
          <li class="list-group-item"><a href="https://github.com/aguadis" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></li>
  
      <!--li class="list-group-item" ><i [ngClass]="redes.class1"></i></li>
      <li class="list-group-item" ><i [ngClass]="redes.class2"></i></li>
      <li class="list-group-item" ><i [ngClass]="redes.class3"></i></li>
      <li class="list-group-item" ><i [ngClass]="redes.class4"></i></li-->
      <!-- Button trigger modal -->
      <li class="list-group-item">
        <a routerLink="/login"><i class="fa-solid fa-user-lock fa-2xl" type="button">
        </i>
      </a>
      </li>
    </ul>
