
 
  <div class="container fluid">
    <!--button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear</button-->
    <div class=""*ngFor="let proyectos of proyectos" class="row">
      <div class="card g-col-4 p-5 m-4   border-start-3 rounded-start" style="width: 25rem;" >
        <img [src]="proyectos.img" class="rounded float-start" width="90%" alt="...">
        <div class="card-body" >
           <div class="col">
           <p class="card-text ">{{proyectos.trabajo}}</p>
        </div>
        </div>
     <div class="col-2">
      
     </div>
     </div>
    </div> 
  </div>
   


<!--inicio de proyectos Modal -->
<div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Proyectos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="proyectosForm">
          <!--colocar textos,imput,botones,formularios para este espacio-->
          <div>
            <label for="nivel"><strong>trabajo</strong></label>
            <input type="text" name="" class="form-control" id="trabajo" formControlName="trabajo">
            <input type="hidden" name="" id="id">
            </div>
            <div>
            <label for="nivel"><strong>Imagen</strong></label>
            <input type="text" name="" class="form-control" id="trabajo" formControlName="img">
            </div>
            <div class="modal-footer">
                
              </div>
            </form>
          </div>
          </div>


          
    <!--fin de proyectos modal-->
    
