.acordeon-item {
    /*background-color: var(--bs-accordion-bg);
    border-width: var(--bs-bg-opacity) solid var();*/
    background-color: rgba(214, 212, 208,0.7)
}

.progress {
    background-color: rgba(214, 212, 208,0.7);
    background-position:left top;
}