.list-group{
    --bs-list-group-bg:#bbc4d6; ;
   }
   .link {
    text-decoration: none;
    color: #60adcc;
}
h4.text-secondary{
    color: #afb5bb !important;
 }
 .admin {
    font-size: 1.3rem;
}

.acordeon-item {
    /*background-color: var(--bs-accordion-bg);
    border-width: var(--bs-bg-opacity) solid var();*/
    background-color: rgba(214, 212, 208,0.7)
}

.section-about {
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}   

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);

}

.acordion {
    --bs-accordion-border-color: #61686e;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-border-color: var();
}
i.fa-solid.fa-user-lock.fa-2xl
    
{
    color: #fff;
    
 }

i.fa-solid.fa-user-lock:hover{
    color:rgb(146, 61, 185);
 }