/*barra de navegacion*/
.navbar.navbar-expand-lg{
    background: #161718;
    
}

img.rounded-circle {
    box-shadow: 8px 8px 8px 8px rgba(34, 29, 25, 0.308);
     margin-top: 0rem;
     margin-left: 1rem;
     position: relative;
     left: 1%;
     }
     .w-100 {
        width: 10rem!important;
    }
      
h5{
    padding-left: 10px;
    font-size: 1.2rem;
 }
 
 
 h3{
    padding-left: 3px;
    font-weight: bold;
    left: 2%;
 } 
     
        
    
    
    
    
    
     
     
    
        
        
        
       
        