/*barra de navegacion*/
.navbar.navbar-expand-lg{
    background: #161718;
    
}

 img.rounded-circle {
    box-shadow: 8px 8px 8px 8px rgba(39, 33, 29, 0.308);
    margin-top: 0rem;
    margin-left: 2rem;
    }
    
    
     
     
        
    
    
    
    
    
     
     
    
        
        
        
       
        