<!--formulario de login-->
<section class="login">
    <div class="container text-center">
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-6" formulario-login>
            <div class="modal-body">
                <div class="mb-3 row">
                   <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                   <div class="col-sm-10">
                      <input type="text" class="form-control-plaintext" id="staticEmail" value="email@dominio.com">
                   </div>
                </div>
                <div class="mb-3 row">
                   <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                   <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword">
                   </div>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary">Registrarme</button>
             </div>
             <small> Si ya tenes cuenta <a routerLink="/login">Ingresa</a></small>
          </div>
          <div class="col-lg-3">
         </div>
        </div>
      </div>
    </section>  
    